$black: #000;
$white: #fff;
$light-green: #69bb7b;
$bright-green: #32c753;
$light-black: #232a34;
$dark-red-1: #d60606;
$header: #060b26;
$navbar-item: rgba(255, 255, 255, 0.5);
$navbar-item-active: #51bcda;
$background-admin: #f4f3ef;
