@import './colors.scss';

.header {
    position: relative;
    background: #060b26;
    height: 40px;
    font-size: 16px;
    z-index: 1;
    width: 100%;

    &-logo {
      position: absolute;
      left: 0;
      text-decoration: none;
      font-size: 27px;
      padding-left: 15px;
      color: $white !important;
    }

    &-tools {
      position: absolute;
      right: 0;

      .dropdown {
        &-menu {
          min-width: 100px;
          border-radius: 0;
          padding: 0;
        }

        &-item {
          padding: 5px 13px;

          .name {
            margin-left: 4px;
          }
        }

        &-toggle {
          &:after {
            display: none;
          }
        }

        button {
          background-color: $header !important;
          border: none;
          box-shadow: none !important;
          width: 130px;
          height: 40px;
          padding: 0;
        }

        .avatar {
          position: absolute;
          top: 5px;
          left: 3px;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
        }

        .user-details {
          position: absolute;
          top: 0;
          left: 36px;
          line-height: 20px;

          &-role,
          &-name {
            display: block;
          }

          &-name {
            font-size: 16px;
          }

          &-role {
            font-size: 12px;
          }
        }
      }

      &-unlogged {
        position: relative;
        top: 6.5px;
        background-color: $light-green !important;
        font-size: 16px !important;
        border-radius: 1rem !important;
        margin-right: 15px;

        &-signin {
          display: inline !important;
        }
      }
    }
  }
