.questions {
    flex-direction: column;

    &-new {
        width: 135px;
        margin: 10px 0 10px auto;
        padding: 2px !important;

        &-icon {
            position: relative;
            bottom: 1px;
            right: 5px;
            font-size: 18px !important;
        }

        &-button {
            font-size: 12px;
        }
    }

    .question-table {
        background: white;
        margin-top: 30px;
        
        &-header{
            font-family: Lato-Bold;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
            background: linear-gradient(60deg, #ab47bc, #8e24aa);

            th {
                padding: 2px 18px;
                vertical-align: middle;
            }
        }

        &-icon {
            margin-right: 3px;
            cursor: pointer;

            &--edit {
                color: #bbaf20;
            }

            &--delete {
                color: #ad1212;
            }
        }
    }
}

.question {
    flex-direction: column;
    margin: 10px 0 100px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);

    &-form {
        line-height: 2rem;
        
        &-label {
            font-weight: bold;
            justify-content: start;
            display: flex;
        }

        &-check {
            display: flex !important;
            align-items: center;

            input {
                margin-right: 10px;
            }
        }

        &-outer {
            padding: 20px;
        }

        &-submit {
            margin-top: 40px;
        }

        &-current-answers {
            margin-top: 30px;

            &-inner {
                display: flex;
                flex-direction: column;

                &-item,
                &-title {
                    margin-right: auto;
                }

                &-item {

                    &-icon {
                        position: relative;
                        top: -3px;
                        left: 3px;
                        cursor: pointer;
                        
                        &--edit {
                            color: #bbaf20;
                        }

                        &--delete {
                            color: #ad1212;
                        }
                    }
                }
            }
        }
    }


    &-add-answers {
        margin-left: 5px;
        color: #198754;
        cursor: pointer;
    }

    // delete question modal
    &-modal {

        &-name {
            color: #dc3545;
        }
    }

    &-answers-added {
        display: flex;
        flex-direction: column;

        &-item {
            margin-right: auto;

            &-icon {
                font-size: 34px !important;
                position: relative;
                top: -3px;

                &--save {
                    color: #198754;
                }

                &--delete {
                    color: #dc3545;
                }
            }

            &-input {
                color: #212529;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                margin-right: 10px;
            }
        }
    }
}
