.questions {
    flex-direction: column;

    &-new {
        width: 135px;
        margin: 10px 0 10px auto;
        padding: 2px !important;

        &-icon {
            position: relative;
            bottom: 1px;
            right: 5px;
            font-size: 18px !important;
        }

        &-button {
            font-size: 12px;
        }
    }

    .question-table {
        border: 1px solid #a9a9a9;

        th {
            color: #a9a9a9;
        }

        &-icon {
            margin-right: 3px;
            cursor: pointer;

            &--edit {
                color: #bbaf20;
            }

            &--delete {
                color: #ad1212;
            }

            &--view {
                color: #559006;
            }
        }
    }
}

.question {

    &-modal {

        &-name {
            color: #dc3545;
        }
    }
}
