.quizzes {
    flex-direction: column;

    &-new {
        width: 130px;
        margin: 10px 0 10px auto;
        padding: 2px !important;
        margin-right: 5px;

        &-icon {
            position: relative;
            bottom: 1px;
            right: 5px;
            font-size: 18px !important;
        }

        &-button {
            font-size: 13px;
            
        }
    }

    .quiz-table {
        background: white;
        margin-top: 30px;
        

        &-header{
            font-family: Lato-Bold;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
            background: linear-gradient(60deg, #ab47bc, #8e24aa);
        }

        &-icon {
            margin-right: 3px;
            cursor: pointer;

            &--edit {
                color: #bbaf20;
            }

            &--delete {
                color: #ad1212;
            }

            &--view {
                color: #559006;
            }
        }
    }
}

.quiz {
    flex-direction: column;
    width: 40% !important;
    margin: 10px 0 100px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);

    Button{
       margin-top: 30px;
    }

    &-questions {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &-new {
            width: 180px;
            margin: 100px 0 10px auto;
            padding: 2px !important;

            &-icon {
                position: relative;
                bottom: 1px;
                right: 5px;
                font-size: 20px !important;
            }

            &-button {
                font-size: 5px;
            }
        }

        &-list-table {
            background: white;
            margin-top: 30px;
            
            &-header{
                font-family: Lato-Bold !important;
                font-size: 18px !important;
                color: #fff !important;
                line-height: 1.4;
                background: linear-gradient(60deg, #ab47bc, #8e24aa);
                border-bottom-color: white;
            }
            

            &-icon {
                margin-right: 3px;
                cursor: pointer;

                &--edit {
                    color: #bbaf20;
                }

                &--delete {
                    color: #ad1212;
                }
            }
        }
    }

    &-modal {

        &-name {
            color: #dc3545;
        }
    }

    &-delete-question-modal {

        &-description {
            color: #dc3545;
        }

        &-quiz-name {
            color: #0d6efd;
        }
    }
}


.quiz-view {
    flex-direction: column;
    display: inline-block;
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    position: relative;
    top: 20px;
    padding: 60px 0 0;

    &-title { 
        text-align: center;
        background: linear-gradient(60deg, #ab47bc, #8e24aa);
        border-radius: 10px;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
        font-weight: bold;
        padding: 10px 0;
        position: absolute;
        top: -20px;
        left: 7.5%;
        width: 85%;
    }

    &-intro {
        word-wrap: break-word;
        background: #f6f6f6;
        border-radius: 5px;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
        height: 10% !important;
    }

    &-questions {
        position: relative;
        flex-direction: column;

        &-question {
            word-wrap: break-word;
            background: #f6f6f6;
            border-radius: 5px;
            box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
            margin-top: -200px;
            margin: 100px 0 100px 0;

            &-answer {
                display: block;

            }
        }
    }

    &-modal {

        &-name {
            color: #dc3545;
        }
    }

    &-slider {
        width: 100%;
    }
}
