@import './colors.scss';
@import './breakpoints.scss';

.sidebar {
    background-color: transparent
}

.layout-left-sidebar {
    @media #{$mobile}, #{$mobile-landscape} {
        order: -1;
    }
}

.layout-right-sidebar {
    @media #{$mobile} {
        display: none;
    }
}

.navbar-menu {

    &-items {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        font-size: 18px;

        &-item {
            list-style-type: none;
            display: block;
            padding: 20px;
            color: $navbar-item;
            font-size: 22px;
            font-weight: 600;

            a {
                text-decoration: none;
                color: $navbar-item;

                &:hover {
                    text-decoration: none;
                    color: $navbar-item;
                }
            }

            @media #{$mobile} {
                margin: 0;
                padding: 0 10px;
            }
        }

        @media #{$mobile}, #{$mobile-landscape} {
            margin: 0;
            flex-direction: row;
        }
    }
}
