@import './colors.scss';
@import './breakpoints.scss';

.sidebar {
    background-color: transparent
}

.layout-left-sidebar {
    @media #{$mobile}, #{$mobile-landscape} {
        order: -1;
    }
}

.layout-right-sidebar {
    @media #{$mobile} {
        display: none;
    }
}

.admin-navbar-menu {

    &-items {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
        font-size: 18px;

        &-item {
            position: relative;
            list-style-type: none;
            display: block;
            padding: 10px;
            color: $navbar-item;
            font-size: 18px;

            @media #{$mobile} {
                margin: 0;
                padding: 0 10px;
            }

            @media #{$tablet}, #{$desktop} {
                text-align: left;
            }

            &.active::before {
                @media #{$tablet}, #{$desktop} {
                    position: absolute;
                    color: $white;
                    border-right: 13px solid $background-admin;
                    border-top: 13px solid transparent;
                    border-bottom: 13px solid transparent;
                    content: "";
                    display: inline-block;
                    right: -20px;
                    opacity: 1;
                    transition: opacity 150ms ease-in;
                }
            }

            &-icon {
                position: relative;
                top: -3px;
            }

            &-text {
                padding-left: 20px;

                @media #{$mobile} {
                    padding: 0;
                }
            }

            a {
                text-decoration: none;
                color: $navbar-item;

                &.active {
                    color: $navbar-item-active !important;
                }

                &:hover {
                    text-decoration: none;
                    color: $background-admin;
                }
            }
        }

        @media #{$mobile}, #{$mobile-landscape} {
            margin: 0;
            flex-direction: row;
        }
    }
}

.admin-sidebar {
    background-color: #2c2c2c;
}
