@import './colors.scss';


.auth {
  min-height: 100vh;

  &-inner {
    max-width: 400px;

    &-submit {
      background-color: $light-green !important;
      border-color: $light-green !important;
    }
  }
}


#root {
  display: flex;
  justify-content: center;
  background: white;//#f6f6f6;
}

.page-content {
    position: relative;
    top: 40px;
    height: calc(100vh - 40px);
    width: 70%;
}


.form-control:focus {
    box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%) !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}
