@import './colors.scss';
@import './breakpoints.scss';

* {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: #f9f9f9;
}

#root {
  background: $background-admin;
}

.layout {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;

  &-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    // background-image: -webkit-linear-gradient(top, #accbee 0%, #e7f0fd 100%);
    background-color: $background-admin;
  }

  &-content {
    flex: 1 1 auto;
    padding: 20px;
  }

  footer {
    background: #FED0D1;
  }

  &-right-sidebar{
    visibility: hidden;
  }

  .sidebar {
    padding: 20px;
  }
}

@media #{$tablet-plus} {
  .layout {
    &-body {
      flex-direction: row;
    }

    &-left-sidebar {
      order: -1;
    }
  }

  .sidebar {
    flex: 0 0 220px;
  }
}

.auth {
  min-height: calc(100vh - 40px);

  &-inner {
    max-width: 520px;

    &-card {
      padding: 50px;
      border: none !important;
      box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);

      @media #{$mobile}, #{$tablet}, #{$mobile-landscape} {
        padding: 20px !important;
      }
    }

    &-submit {
      background-color: $light-green !important;
      border-color: $light-green !important;
    }
  }
}

.layout {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  height: 100%;
}

.page-content {
    position: relative;
    top: 40px;
    height: calc(100vh - 40px);
    width: 70%;
}


.form-control:focus {
    box-shadow: 0 0 0 0.05rem rgb(13 110 253 / 25%) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.slick-dots {
    bottom: 250px;
}

.slick-dot {
  display: block;
  padding: 10px;
  background-color: lightblue;
}