@import './colors.scss';

.courses {
    flex-direction: column;

    &-item {
        margin-top: 30px;
    }

    &-list {
        width: 100%;
        display: flex;
    }

    &-title {
        text-align: left;
        background: white;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        padding: 10px 20px;
    }

    &-classrooms {
        display: flex;
        flex-direction: column;
        background: white;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        padding: 10px 20px;
        text-align: left;

        &-item {

            &-name {
                font-size: 26px;
                padding: 10px 10px 0 0;
                position: relative;
                top: 5px;
            }

            &-icon {
                cursor: pointer;
                padding: 0 3px;

                &--green {
                    color: #198754;
                }

                &--blue {
                    color: blue;
                }

                &--view {
                    color: yellowgreen;
                }
            }

            &-assign-button {
                padding: 5px !important;
            }

            &-students {
                padding: 10px 30px 15px 40px;
            }
        }
    }
}

.teacher-dashboard {
    flex-direction: column;

    &-title {
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        width: 100%;
        background: white;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: left;
    }

    &-course {
        padding: 10px 20px;
        background: white;
        box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
        width: 48%;

        &-title {
            text-align: left;
        }
    }

    &-courses-item {
        margin-bottom: 15px;
        position: relative;
        text-align: left;

        &-classname {
            display: block;
            font-size: 16px;
            font-weight: bold;
        }

        &-quizzes-taken {
            display: block;
        }
    }
}