.users {
    flex-direction: column;
}

.user-table {
    position: relative;
    margin: 40px 0 0 40px;

    &-icon {
        cursor: pointer;

        &--green {
            color: #559006;
        }

        &--orange {
            color: #bbaf20;
        }

        &--red {
            color: #ad1212;
        }

    }
}

.MUIDataTableToolbar-titleRoot-19 {
    text-align: left !important;
}