@import './breakpoints.scss';

.users {
    flex-direction: column;
}

.user-table {
    position: relative;
    margin: 40px 0 0;

    &-icon {
        cursor: pointer;

        &--green {
            color: #559006;
        }

        &--orange {
            color: #bbaf20;
        }

        &--red {
            color: #ad1212;
        }

    }
}

.MUIDataTableToolbar-titleRoot-19 {
    text-align: left !important;
}

.add-classroom-modal-classroom-courses {
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    @media #{$mobile}, #{$mobile-landscape} {
        flex-direction: column;
    }

    &-existing {
        margin-right: auto;

        @media #{$mobile}, #{$mobile-landscape} {
            margin: 30px 0 0 10px;
        }

        &-item {
            text-align: left;
        }
    }

    &-add {
        margin-left: auto;

        @media #{$mobile}, #{$mobile-landscape} {
            margin: 30px 0 0 10px;
        }
        
        &-item {
            text-align: left;
        }
    }

    h4 {
        text-align: left;
    }
}