@import './colors.scss';

.header {
    background: $black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    width: 100%;
  
    &-container {
      display: flex;
      justify-content: space-between;
      height: 40px;
      width: 100%;
      padding: 0 25px;
    }
  
    &-logo {
      display: flex;
      align-items: center;
      justify-self: flex-start;
      font-size: 24px;
      color: $white !important;
      text-decoration: none;
    }

    &-tools {
      display: flex;
      align-items: center;
      justify-content: center;

      &-signin {
        background-color: $light-green !important;
        padding: 0 10px !important;
        font-size: 16px !important;
        border-radius: 1rem !important;
      }
    }
  }
