@import './colors.scss';

.header {
    background: $black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    width: 100%;
  
    &-container {
      display: flex;
      justify-content: space-between;
      height: 40px;
      width: 100%;
      padding: 0 25px;
    }
  
    &-logo {
      display: flex;
      align-items: center;
      justify-self: flex-start;
      font-size: 24px;
      color: $white !important;
      text-decoration: none;
    }

    &-tools {
      display: flex;
      align-items: center;
      justify-content: center;

      .dropdown {
        &-menu {
          min-width: 100px;
          border-radius: 0;
          padding: 0;
        }

        &-item {
          padding: 5px 15px;
        }

        button {
          background-color: $black !important;
          border-color: $black !important;
          box-shadow: none !important;
          width: 130px;
          height: 40px;
        }

        .avatar {
          position: absolute;
          left: 3px;

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
        }

        .user-details {
          display: block;
          position: relative;
          left: 30px;
          text-align: left;

          &-role,
          &-name {
            display: block;
            font-size: 10px;
          }

          &-name {
            font-size: 10px;
          }

          &-role {
            font-size: 8px;
          }
        }
      }

      &-signin {
        background-color: $light-green !important;
        padding: 0 10px !important;
        font-size: 16px !important;
        border-radius: 1rem !important;
      }
    }
  }
