@import './colors.scss';


.auth {
  min-height: 100vh;

  &-inner {
    max-width: 400px;

    &-submit {
      background-color: $light-green !important;
      border-color: $light-green !important;
    }
  }
}
